<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volume Controller</title>
    <link rel="icon" href="{{url_for('static',filename='icon.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    
</head>

<body>
    <div class="sliderDraw">
        <div class="sliderContainer">
            <div class="slider">
                
                <input id="default-range" type="range" value="0" 
                class="1 sliderCon h-half bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700 transform rotate-90"
                oninput="changeVolume(this.value, this.className)">
                <!-- Creats an slider the call changeVolume when the value is changed  -->
            </div>
            <div class="appBox" ondragover="allowDrop(event)" ondrop="drop(event)">
                <!-- Each slider has a box for the user to drag and drop the apps into -->
                {% if preLoadedApps %} <!-- if there are apps for that slider show them-->
                    {% for app in preLoadedApps[0]["apps"] %} 
                        <div class="app" draggable="true" ondragstart="drag(event)">
                            {{app}}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="sliderContainer">
            <div class="slider">
                <input id="default-range" type="range" value="0"
                    class="2 sliderCon h-full bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700 transform rotate-90"
                    oninput="changeVolume(this.value, this.className)">
            </div>
            <div class="appBox" ondragover="allowDrop(event)" ondrop="drop(event)">
                {% if preLoadedApps %}
                    {% for app in preLoadedApps[1]["apps"] %}
                        <div class="app" draggable="true" ondragstart="drag(event)">
                            {{app}}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="sliderContainer">
            <div class="slider">
                <input id="default-range" type="range" value="0"
                    class="3 sliderCon h-full bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700 transform rotate-90"
                    oninput="changeVolume(this.value, this.className)">
            </div>
            <div class="appBox" ondragover="allowDrop(event)" ondrop="drop(event)">
                {% if preLoadedApps %}
                    {% for app in preLoadedApps[2]["apps"] %}
                        <div class="app" draggable="true" ondragstart="drag(event)">
                            {{app}}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="sliderContainer">
            <div class="slider">
                <input id="default-range" type="range" value="0"
                    class="4 sliderCon h-full bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700 transform rotate-90"
                    oninput="changeVolume(this.value, this.className)">
            </div>
            <div class="appBox" ondragover="allowDrop(event)" ondrop="drop(event)">
                {% if preLoadedApps %}
                    {% for app in preLoadedApps[3]["apps"] %}
                        <div class="app" draggable="true" ondragstart="drag(event)">
                            {{app}}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="appDraw"> 
        <!-- This is a draw of apps for the apps that are not connected to a slider -->
        {% for app in apps %}
            {% if app not in preLoadedApps[0]["apps"] and app not in preLoadedApps[1]["apps"] and app not in preLoadedApps[2]["apps"] and app not in preLoadedApps[3]["apps"] %}
                <!-- If the apps are not in any of the sliders, then show them -->
                <div class="app" draggable="true" ondragstart="drag(event)">
                    {{app}}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="groupDraw">
        <div class="groups">
            <H1>hello</H1>
            <h1>fook</h1>
        </div>
        <div>
            <div class="groupSearchBox">
                <input class="path" type="text">
                 <!-- <button id="selectFolder" class="app seachButton" onclick="folderSelection()">Pick Folder</button> -->
                <button class="app seachButton" onclick="folderSelection()">search</button>
            </div>
            <div class="appsForGroups">
                {% for app in appsInPath %}
                        <!-- If the apps are not in any of the sliders, then show them -->
                        <div class="app" draggable="true" ondragstart="drag(event)">
                            {{app}}
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="mainSlider">
        <div class="slider mainslidy">
            <!-- This is the slider for the main volume -->
            <input id="default-range" type="range" value="0"
                class="mainSliderCon h-full bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700 transform rotate-90" 
                oninput="changeMasterVolume(this.value)">
        </div>
        <!-- Calibrate button -->
        <button class="app hello" onclick="calibrate()">CALIBRATE</button>
        <button class="app groups hello" onclick="openGroups()">GROUPS</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/keep.alive.js')}}"></script>
    <script>

        // console.log("{{preLoadedApps[3]}}")
        
        function asd(num, in_min, in_max, out_min, out_max) {
            return (num - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;
        }

        function changeMasterVolume(volume) { 
            // Sends a changeMasterVolume request to the API
            volume = asd(volume, 100, 0, 0, 100);
            console.log(volume);
            $.ajax({
                url: '/change_master_volume',
                type: 'POST',
                data: JSON.stringify({'volume': volume}),
                contentType: 'application/json;charset=UTF-8',
                success: function (response) {
                    // console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function calibrate() {
            // Sends the calibrate api request
            $.ajax({
                url: '/calibrate',
                type: 'POST',
                contentType: 'application/json;charset=UTF-8',
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function changeVolume(volume, slider) {
        
                slider = slider.split(' ')[0];
                volume = asd(volume, 100, 0, 0, 1);
                
                $.ajax({
                    url: '/change_volume',
                    type: 'POST',
                    data: JSON.stringify({'volume': volume, 'slider': slider}),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

        function openGroups() {
            groupDraw = document.querySelector('.groupDraw');
            appDraw = document.querySelector('.appDraw');

            console.log(groupDraw.style.display);
            console.log(appDraw.style.display);

            if (groupDraw.style.display === 'none') {
                groupDraw.style.display = 'grid';
                // appDraw.style.display = 'none';
                appDraw.style.width = '20%'
            } else {
                groupDraw.style.display = 'none';
                // appDraw.style.display = 'flex';
                appDraw.style.width = '50%'
            }
        }

        function folderSelection() {
            var path = document.querySelector('.path').value;
            console.log(path);

            $.ajax({
                url: '/path_select',
                type: 'POST',
                data: JSON.stringify({'path': path}),
                contentType: 'application/json;charset=UTF-8',
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }
        


        var dragged;

        function allowDrop(event) {
                event.preventDefault();
            }

        document.addEventListener("dragstart", function (event) {
            // Only allow elements with the class 'app' to be dragged
            if (event.target.className == "app") {
                dragged = event.target;
                event.target.style.opacity = .5;
            }
        }, false);

        document.addEventListener("dragover", function (event) {
            event.preventDefault();
        }, false);

        document.addEventListener("dragenter", function (event) {
            if (event.target.className == "appBox" || event.target.className == "appDraw" || event.target.className == "appsForGroups") {
                event.target.style.background = "#171721";
            }

        }, false);

        document.addEventListener("dragleave", function (event) {
            if (event.target.className == "appBox" || event.target.className == "appDraw" || event.target.className == "appsForGroups") {
                event.target.style.background = "";
            }

        }, false);

        document.addEventListener("drop", function (event) {
            event.preventDefault();
            // what happens when the app is droped into a container
            if ((event.target.className == "appBox" || event.target.className == "appDraw" || event.target.className == "appsForGroups") && dragged) {
                event.target.style.background = "";
                dragged.parentNode.removeChild(dragged);
                dragged.style.opacity = ""; // Reset opacity
                event.target.appendChild(dragged);
                dragged = null; // Reset the dragged element
            }

            // Collect inner HTML of each appBox
            var appBoxes = document.getElementsByClassName('appBox');
            var appBoxContents = Array.from(appBoxes).map((box, index) => {
                var apps = Array.from(box.getElementsByClassName('app')).map(app => app.innerHTML);
                console.log({
                    slider: index + 1, 
                    apps: apps
                
                })
                return {
                    slider: index + 1, 
                    apps: apps
                };
            });

            // Send a POST request to /submit
            fetch('/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(appBoxContents)
            })
            .then(response => response.text())
            .then(data => {
                // console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }, false);

</script>
</body>

</html>